[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Comment=Develop with pleasure!
Exec={{&home}}/PhpStorm-{{v}}/bin/phpstorm.sh
Icon={{&home}}/PhpStorm-{{v}}/bin/webide.png
Path=
Terminal=false
StartupNotify=false
